<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="COINMARKETCAP_API_BASE_ADDRESS" value="https://api.coinmarketcap.com/v1/"/>
		<add key="SETTINGS_FILE_LOCATION" value="settings.json" />
	</appSettings>
</configuration>